<h1>I'm a test</h1>
<h2>{{zip}}</h2>
<input type="text" [(ngModel)]="zip" (keyup)="fd.updateData()" />
<p>
  home-page works!
</p>

<app-five-day-forecast #fd [zipCode]="zip" ></app-five-day-forecast>

<router-outlet></router-outlet>
