<h1>
  {{title}}
</h1>
<h2>Hi there   </h2>

<ul>
  <li><a routerLink="/home" routerLinkActive="active">Home</a>
    <ul>
      <li><a routerLink="/home/neil" routerLinkActive="active">Neil</a> </li>
    </ul>
  </li>
  <li><a routerLink="/about" routerLinkActive="active">About</a></li>
</ul>
<router-outlet></router-outlet>
